<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IB_GetHistoricData.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IB_GetHistoricData.Properties.db" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <IB_GetHistoricData.Properties.App>
            <setting name="LogsFolderPath" serializeAs="String">
                <value>C:/Logs/IB_GetHistoricData</value>
            </setting>
        </IB_GetHistoricData.Properties.App>
        <IB_GetHistoricData.Properties.db>
            <setting name="server" serializeAs="String">
                <value>DAVE-LAPTOP\SQLEXPRESS</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Makatini@1</value>
            </setting>
        </IB_GetHistoricData.Properties.db>
    </userSettings>
</configuration>